<!DOCTYPE html>
<html lang="en">
<head>
    <title>Session and authentication</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: aqua;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>