<h2>{{name}}</h2>

<form action="/{{endpoint}}" method="post">
    <input type="username" placeholder="username" name="username" /> <br />
    <input type="password" name="password" /> <br />
    <input type="submit" value="Submit">
</form>